@model DepoStokBitirmeProjesi.Entities.Binalar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Binalar</li>
                    </ol>
                </div><!-- /.col -->

            </div><!-- /.row -->
            <div class="col-12">


                <h1>Bina Silme</h1>

                <h3>Binayı Silmek İstediğinizden Emin Misiniz?</h3>
                <div>
                    <h4>Binalar</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BinaAdi)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BinaAdi)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Sehir)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Sehir)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Sil" class="btn btn-danger" /> |
                        <a asp-action="Index">Listeye Geri Dön</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>