
@{
    ViewData["Title"] = "SifrenizGuncellendi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

<h1>Tebrikler</h1>
<h2>Şifreniz başarılı bir şekilde güncelleştirildi.</h2>
</div></div></div></div></div>
